  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  @import url('./assets/font/fontFace.css');
  *{
    font-family: "Lexend Mega", sans-serif ;
    margin: 0;
    padding: 0;
  }

  :root {
    --color-text-dark: #111111;
    --color-text-grade2: #444444;
    --color-text-grade3: #767676;
    --color-text-placeholder: #BDBDBD;
    --color-gray-middle: #e4e4e4;
    --color-gray-low: #F0F0F0;
    --color-gray-light: #FAFAFA;
    --color-primary: #F3BC2F;
    --color-primary-light: #fefaf0;
    --color-secondary: #447120;
    --color-secondary-light: #DDF6C9;
    --color-secondary-low: #c4e4a9;
    --color-error-main: #CC1D1D;
    --color-error-light: #fff0f0;
    --color-success-main: #1C9121;
    --color-success-light: #f0fff0;
  }

  /* scrollbar width */
::-webkit-scrollbar {
  width: 10px;
}

/* scrollbar Track */
::-webkit-scrollbar-track {
  background: var(--color-gray-low); 
  border-radius: 16px;
}
 
/* scrollbar Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-text-grade3); 
  border-radius: 16px;
}

/* scrollbar Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

  a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
  }
  a:hover {
    color: #535bf2;
  }

  body {
    margin: 0;
    /* display: flex; */
    /* place-items: center; */
    min-width: 320px;
    min-height: 100vh;
    background-color: var(--color-primary-light);
  }

  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }

  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  .ant-btn-primary:hover {
    color: #111111 !important
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

  .product-swiper > .swiper-wrapper > .swiper-slide{
    padding-bottom: 8px !important;
    padding-right: 4px !important;
  }

  .swiper-horizontal > .swiper-pagination-bullets,.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 20px !important;
  }

  .swiper-pagination-bullet-active{
    background: var(--color-primary) !important;
  }

  .swiper-button-prev{
    color: var(--color-text-dark) !important;
    left: 24px !important;
  }

  .swiper-button-next{
    color: var(--color-text-dark) !important;
    right: 24px !important;
  }

  .swiper-button-prev:after, .swiper-button-next:after{
    font-size: 24px !important;
    background-color: #ffffff;
    padding: 8px 14px;
    border-radius: 50%;
    border: 1px solid var();
  }

  .swiper.swiper-initialized.swiper-horizontal.mySwiper{
    padding: 8px !important;
  }

  /* cart loading */
  .preloader {
    /* text-align: center; */
    max-width: 20em;
    width: 100%;
  }
  .preloader__text {
    position: relative;
    height: 1.5em;
  }
  .preloader__msg {
    animation: msg 0.3s 13.7s linear forwards;
    position: absolute;
    width: 100%;
  }
  .preloader__msg--last {
    animation-direction: reverse;
    animation-delay: 14s;
    visibility: hidden;
  }
  .cart {
    display: block;
    margin: 0 auto 0 auto;
    width: 8em;
    height: 8em;
  }
  .cart__lines,
  .cart__top,
  .cart__wheel1,
  .cart__wheel2,
  .cart__wheel-stroke {
    animation: cartLines 2s ease-in-out infinite;
  }
  .cart__lines {
    stroke: var(--color-primary);
  }
  .cart__top {
    animation-name: cartTop;
  }
  .cart__wheel1 {
    animation-name: cartWheel1;
    transform: rotate(-0.25turn);
    transform-origin: 43px 111px;
  }
  .cart__wheel2 {
    animation-name: cartWheel2;
    transform: rotate(0.25turn);
    transform-origin: 102px 111px;
  }
  .cart__wheel-stroke {
    animation-name: cartWheelStroke
  }

  .ant-menu-horizontal .ant-menu-item {
    white-space: nowrap;
    overflow: visible;
  }

  .ant-menu-light.ant-menu-horizontal >.ant-menu-item {
    top:0
  }

  .ant-menu-light{
    background: none;
  }
  
  /* Animations */
  @keyframes msg {
    from {
      opacity: 1;
      visibility: visible;
    }
    99.9% {
      opacity: 0;
      visibility: visible;
    }
    to {
      opacity: 0;
      visibility: hidden;
    }
  }
  @keyframes cartLines {
    from,
    to {
      opacity: 0;
    }
    8%,
    92% {
      opacity: 1;
    }
  }
  @keyframes cartTop {
    from {
      stroke-dashoffset: -338;
    }
    50% {
      stroke-dashoffset: 0;
    }
    to {
      stroke-dashoffset: 338;
    }
  }
  @keyframes cartWheel1 {
    from {
      transform: rotate(-0.25turn);
    }
    to {
      transform: rotate(2.75turn);
    }
  }
  @keyframes cartWheel2 {
    from {
      transform: rotate(0.25turn);
    }
    to {
      transform: rotate(3.25turn);
    }
  }
  @keyframes cartWheelStroke {
    from,
    to {
      stroke-dashoffset: 81.68;
    }
    50% {
      stroke-dashoffset: 40.84;
    }
  }

  @media (prefers-color-scheme: light) {
    :root {
      color: var(--color-primary);
      background-color: #ffffff;
    }
    a:hover {
      color: var(--color-primary) ;
    }
    button {
      background-color: #f9f9f9;
    }
  }

  @media (max-width: 1023px) {
    .swiper-pagination {
      display: block;
    }
    .swiper-button-next,
    .swiper-button-prev {
      display: none;
    }
    .swiper-button-prev:after, .swiper-button-next:after{
      display: none;
    }
  }
  
  @media (min-width: 1024px) {
    .swiper-pagination {
      display: none;
    }
    .swiper-button-next,
    .swiper-button-prev {
      display: block;
    }
  }
